In [1]:
# Q1) Print items of the list.

l = ['X',10,8,'A',8,'XYZ']
for i in l:
    print(i)

X
10
8
A
8
XYZ

In [35]:
# Q2) Code to print first n natural number

n= int(input('Provide nth natural number'))
for i in range(1,n+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [54]:
# Q3) Code to print sum of first n natural no.

x =0
n= int(input('Provide nth natural number'))
for i in range(1,n+1):
    x +=i
print(x)

Provide nth natural number10
55

In [20]:
# Q4) Print ladder pattern from star .

n = int(input('Provide nos of rows'))
for i in range(n+1):
    print(i * ' *')

Provide nos of rows6

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *

In [5]:
# Q5) Print Mountain oattern from star.

n = int(input('Provide no of rows'))
for i in range(n+1):
    print((i *' * ').center(20))

Provide no of rows5

         *
        *  *
      *  *  *
     *  *  *  *
   *  *  *  *  *

In [22]:
# Q6) Print diamond shape from star .

n = 5
for i in range(n+1):
    print(((i+1)*' * ').center(20))
for i in range(n):
    print(((n-i)*' * ').center(20))

         *
        *  *
      *  *  *
     *  *  *  *
   *  *  *  *  *
  *  *  *  *  *  *
   *  *  *  *  *
     *  *  *  *
      *  *  *
        *  *
         *

In [32]:
# Q7) Code to print number with table of 1 in ladder form.

n=6
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j , end='  ')
    print('\n')

1

1  2

1  2  3

1  2  3  4

1  2  3  4  5

1  2  3  4  5  6

In [21]:
# Q8) Code to print table of 6.

n = int(input('Provide integer to find table'))
for i in range(11):
    print( n,' X ',i,'= ',n*i )

Provide integer to find table8
8  X  0 =  0
8  X  1 =  8
8  X  2 =  16
8  X  3 =  24
8  X  4 =  32
8  X  5 =  40
8  X  6 =  48
8  X  7 =  56
8  X  8 =  64
8  X  9 =  72
8  X  10 =  80

In [16]:
# Q9) code to find out even or odd number out of list.

even=[]
odd=[]
l =[10,5,78,41,9,86,42,154,86,32,10,24,25,59,53,47,27]
for i in l:
    if i%2 == 0:
        even.append(i)
    if i%2 != 0:
        odd.append(i)
print('Even nos out of list are',even)
print('Odd nos out of list are',odd)

Even nos out of list are [10, 78, 86, 42, 154, 86, 32, 10, 24]
Odd nos out of list are [5, 41, 9, 25, 59, 53, 47, 27]

In [55]:
# Q10) Code to find count of number .

n = 145326
count = 0

while n != 0:
    n = n//10
    count += 1
print(count)

6

In [63]:
# Q11) Code to reverse a list using loop.

l = [10,54,5,7,9,25]
new_list = []
l1 = reversed(l)
for i in l1:
    new_list.append(i)
print(new_list)

[25, 9, 7, 5, 54, 10]

In [66]:
# Q12) Code to print fibonaci series

n = int(input('Provide the no of series to form fibonaci series'))
num1 , num2 = 0,1
for i in range(n):
    print(num1)
    num3 = num1 + num2    
    num1 = num2
    num2 = num3

Provide the no of series to form fibonaci series10
0
1
1
2
3
5
8
13
21
34

In [72]:
# Q13) Code to find factorial of n.

x=1   
n = int(input('Provide no to find factorial :'))
for i in range(1,n+1):
    x = x*i
print('Factorial of ',n,'is :',x)

Provide no to find factorial :5
Factorial of  5 is : 120

In [75]:
# Q14) Code to reverse a given number.

n = int(input('Provide no to reverse  :'))
rev_no = 0
while n>0:
    reminder = n%10
    rev_no = (rev_no*10)+ reminder
    n = n// 10
print('Revirsed number is :',rev_no)

Provide no to reverse  :5478
Revirsed number is : 8745

In [78]:
# Q15) Code to find cube of all number till nth given number.

n=int(input('Provide the number :'))
for i in range(1,n+1):
    print('Cube of ',i,'is :',i*i*i)

Provide the number :5
Cube of  1 is : 1
Cube of  2 is : 8
Cube of  3 is : 27
Cube of  4 is : 64
Cube of  5 is : 125

In [80]:
# Q16) Code to print alphabets in ladder form.

i=0
while i<7:
    l=7
    k=i+65  
    for j in range(i+1):
        if chr(k).isalpha():
            print(chr(k),end=" ") 
            l-=1
            k+=l     
    i += 1
    print()

A
B H
C I N
D J O S
E K P T W
F L Q U X Z
G M R V Y

In [1]:
# Q17) Code to print no divisible by provided divisor within range.

n=int(input('Provide the range :'))
x=int(input('Provide the divisor :'))
i=x-1
while i<n:
    if i%x == 0:
        print(i)
    i += 1

Provide the range :500
Provide the divisor :5
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495

In [5]:
# Q18) Code to find vovels from the sentence.

s= input('Provide the sentence to find vovel :')

i = 0 
v = 'aeiou'
s = s.lower()
while i < len(s):
    if s[i] in v :
        print(s[i])
    i = i+1

Provide the sentence to find vovel :India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.
i
i
a
o
i
i
a
e
e
u
i
o
i
i
a
i
i
a
a
a
a
i
a
o
u
i
o
u
a
i
a
i
i
e
e
e
a
e
o
u
a
e
a
e
e
o
o
o
u
o
u
o
u
a
e
o
o
u
o
u
e
o
a
i
e
o
o
u
e
e
i
i
a
o
e
a
o
e
o
u
e
a
a
i
a
e
a
o
e
o
u
e
a
e
a
o
e
a
o
e
o
u
e
a
i
a
e
a
o
e
i
a
i
a
o
e
e
i
a
e
a
a
u
a
o
e
o
a
a
a
e
a
a
a
o
e
e
a
i
e
i
i
a
o
e
a
i
i
a
i
i
e
i
i
i
o
i
a
a
a
e
a
i
e
i
a
a
a
a
i
o
a
i
a
a
e
a
a
i
i
e
o
e
i
a
i
a
a
a
a
i
o
e
i
a

In [21]:
# Q19) Code to print key and values separately from dictionary and seperate the integer and string out of it.

d={'Name':('Raj','Alok','Alok','Akash','Mukul'),'ID':(145,554,658,203,5402),1245:5412,'X':45189,475:'XYZ'}

print(d.keys())
print(d.values())
print('\n')
l_int=[]
l_str=[]
for i in d.keys():
    if type(i) == int :
        l_int.append(i)
for i in d.keys():
    if type(i)!= int:
        l_str.append(i)
for i in d.values():
    if type(i) == int:
        l_int.append(i)
    if type(i) == str:
        l_str.append(i)
    if type(i) != int:
        for j in i:
            if type(j)== int:
                l_int.append(j)
            if type(j)== str:
                l_str.append(j)
print( l_int,l_str)

dict_keys(['Name', 'ID', 1245, 'X', 475])
dict_values([('Raj', 'Alok', 'Alok', 'Akash', 'Mukul'), (145, 554, 658, 203, 5402), 5412, 45189, 'XYZ'])


[1245, 475, 145, 554, 658, 203, 5402, 5412, 45189] ['Name', 'ID', 'X', 'Raj', 'Alok', 'Alok', 'Akash', 'Mukul', 'XYZ', 'X', 'Y', 'Z']

In [24]:
# Q20) Code to print M Alphabet from star(*).

result_str="";    
for i in range(0,7):    
    for j in range(0,7):     
        if (j == 1 or j == 5 or (i == 2 and (j == 2 or j == 4)) or (i == 3 and j == 3)):  
            result_str=result_str+"* "    
        else:      
            result_str=result_str+"  "    
    result_str=result_str+"\n"    
print(result_str);

  *       *
  *       *
  * *   * *
  *   *   *
  *       *
  *       *
  *       *