#### 1) Code to find anagram status of 2 string

In [ ]:
# elbow and below
def anagram(str1,str2):
    if sorted(str1) == sorted(str2):
        return True
    else:
        return False

In [3]:
anagram('elbow' , 'below')

True

#### 2) Find maximum no out of list if no is repeated ignore that no

In [38]:
l = [4,5,10,10,8,9,9]
l1 = set()
for i in l:
    if l.count(i) == 1:
        l1.add(i)
print(max(l1))

8

In [45]:
l = [2,4,5,8,9,7,4,7,9,8]
l1=[]
for i in l:
    if l.count(i) == 1:
        l1.append(i)
print(max(l1))

5

#### 3) Code to print Poem in prescibed format

In [52]:
s = 'Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star,How I wonder what you are'
print(f"{'Twinkle, twinkle, little star,'}\n{' '*8}{'How I wonder what you are!'}\n{' '*15}{'Up above the world so high,'}\n{' '*15}{'Like a diamond in the sky.'}")
print(f"{'Twinkle, twinkle, little star,'}\n{' '*8}{'How I wonder what you are!'}")

Twinkle, twinkle, little star,
        How I wonder what you are!
               Up above the world so high,
               Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are!

#### 4) Code to find python version

In [53]:
import sys
sys.version

'3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]'

#### 5) Display current date and time

In [58]:
import datetime
(datetime.datetime.now()).strftime("%Y-%m-%d %H:%M:%S")

'2023-08-11 23:41:08'

#### 6) Calculate area of circle

In [65]:
def circle_area(r):
    return (22/7)*(r**2)

In [66]:
circle_area(1.1)

3.8028571428571434

#### 7) Reverse Full name

In [69]:
def reverse(first_name , last_name):
    full_name = first_name + ' '+last_name
    reverse = full_name[::-1]
    return reverse

In [70]:
reverse('Amrit','Raj')

'jaR tirmA'

In [82]:
first = 'Amrit'
last = 'Raj'
full = first +' '+last
l =[]
for i in range(len(full)):
    l.append(full[len(full)-i-1])
''.join(l)

'jaR tirmA'

In [1]:
full = 'Amrit Raj'
l=[]
for i in range(len(full)):
    l.append(full[len(full)-i-1])
''.join(l)

'jaR tirmA'

#### 8) Comma seprated Numbers to list and tuple

In [3]:
numbers = input('Provided no by commma seperated :')
l = numbers.split(',')
t = tuple(l)
print(f"{l}\n{t}")

Provided no by commma seperated :4,80,10,9
['4', '80', '10', '9']
('4', '80', '10', '9')

In [18]:
numbers = input('Provide the nos :')
l = [int(i) for i in numbers.split(',')]
t = tuple(l)
print(f"{l}\n{t}")

Provide the nos :10,8,9,4,6
[10, 8, 9, 4, 6]
(10, 8, 9, 4, 6)

#### 9) Find out the extension of the file

In [31]:
file_name = input()
file_name = file_name.split('.')
print(file_name[len(file_name)-1])

xyz.python
python

#### 10) Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [34]:
color_list = ['Red','Green','White','Black']
l = [ ]
l.append(color_list[0])
l.append(color_list[-1])
l

['Red', 'Black']

#### 11) Write a Python program to display the examination schedule. (extract the date from exam_st_date).
##### exam_st_date = (11, 12, 2014)
##### Sample Output : The examination will start from : 11 / 12 / 2014

In [40]:
exam_date = (11,12,2014)
day , month , year = exam_date
print(f"The examination will start from :{day}/{month}/{year}")

The examination will start from :11/12/2014

In [43]:
exam_date = (11,12,2014)
l = list(exam_date)
i = l[0]
j = l[1]
k = l[2]
print(f"The examnation will start from :{i}/{j}/{k}")

The examnation will start from :11/12/2014

#### 12) Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
##### Sample value of n is 5
##### Expected Result : 615

In [52]:
def number(n):
    n = n
    nn = int(str(n)+str(n))
    nnn = int(str(n)+str(n)+str(n))
    return n + nn + nnn
number(5)

615

#### 13) Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
##### Sample function : abs()
##### Expected Result :
##### abs(number) -> number
##### Return the absolute value of the argument.

In [54]:
sample_function = abs
help(sample_function)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

#### 14) Write a Python program that prints the calendar for a given month and year.
##### Note : Use 'calendar' module.

In [61]:
import calendar
year = int(input('Year :'))
month = int(input('Month :'))
cal = calendar.TextCalendar(calendar.SUNDAY)
print(cal.formatmonth(year,month))

Year :2023
Month :12
   December 2023
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

#### 15) Write a Python program to calculate the number of days between two dates.
##### Sample dates : (2014, 7, 2), (2014, 7, 11)
##### Expected output : 9 days

In [63]:
dt1 = (2014,7,2)
dt2 = (2014,7,11)

y1,m1,d1 = dt1 
y2,m2,d2 = dt2
Date_diff = d2-d1
Date_diff

9

#### 16) Code to find volume of sphere of radius r

In [66]:
def sphere_volume(r):
    return (4/3)*(22/7)*(r*r*r)

In [67]:
sphere_volume(6)

905.142857142857

#### 17) Write a Python program to calculate the difference between a given number and 17. If the number is greater than 17, return twice the absolute difference.

In [74]:
def diff(n):
    if n>17:
        return 2*(abs(17-n))
    else:
        return 17 -n

In [75]:
diff(20)

6

#### 18) Write a Python program to calculate the sum of three given numbers. If the values are equal, return three times their sum.

In [81]:
def sum(x,y,z):
    if x == y == z:
        total = x+y+z
        return 3*total
    else:
        return x+y+z

In [82]:
sum(5,6,5)

16

#### 19) Write a Python program to get a newly-generated string from a given string where "Is" has been added to the front. Return the string unchanged if the given string already begins with "Is".

In [90]:
def add_is(string):
    if string[:2] == 'Is':
        return string
    else:
        return 'Is ' + string

In [91]:
add_is('Is My name is Amrit Raj')

'Is My name is Amrit Raj'

#### 20) Write a Python program that returns a string that is n (non-negative integer) copies of a given string.

In [92]:
def copies_str(str1,n):
    return str1*n

In [94]:
copies_str('This ',5)

'This This This This This '

####  21) Write a Python program that determines whether a given number (accepted from the user) is even or odd, and prints an appropriate message to the user.

In [99]:
def even_odd(n):
    print('Given no is')
    if n%2 == 0:
        print('Even')
    else:
        print('Odd')

In [100]:
even_odd(21)

Given no is
Odd

#### 22) Write a Python program to count the number 4 in a given list.

In [101]:
def count_4(lists):
    count = 0
    for i in lists:
        if i == 4:
            count += 1
    return count

In [103]:
count_4([5,10,4,8,4,20,8,4,10,4,50,4])

5

#### 23) Write a Python program to get n (non-negative integer) copies of the first 2 characters of a given string. Return n copies of the whole string if the length is less than 2.

In [108]:
def n_copies(str1,n):
    if len(str1) < 2:
        return str1 * n
    else:
        return str1[:2] * n

In [109]:
n_copies('This',6)

'ThThThThThTh'

#### 24) Write a Python program to test whether a passed letter is a vowel or not.

In [110]:
def is_vovel(x):
    x = x.lower()
    if x in 'aeiou':
        return True
    else:
        return False

In [113]:
is_vovel('X')

False

####  25) Write a Python program that checks whether a specified value is contained within a group of values.
##### Test Data :
##### 3 -> [1, 5, 8, 3] : True
##### -1 -> [1, 5, 8, 3] : False

In [114]:
def check_value(lists,n):
    if n in lists:
        return True
    else:
        return False

In [116]:
check_value([2,10,8,9],-8)

False

#### 26) Write a Python program to create a histogram from a given list of integers.

In [119]:
def histogram(n):
    for i in range(1,n+1):
        print('* '*i)

In [120]:
histogram(5)

*
* *
* * *
* * * *
* * * * *

#### 27) Write python code to create Pyramid from given list of integers

In [6]:
def pyramid(n):
    for i in range(1,n+1):
        print(('* '*i).center(15))

In [7]:
pyramid(8)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

#### 28) Python code to print diamond shape.

In [8]:
def diamond(n):
    for i in range(1,n+1):
        print(('* '*i).center(15))
    for i in range(1,n+1):
        print(('* '*(n-i)).center(15))

In [9]:
diamond(8)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

#### 29) Write a Python program that concatenates all elements in a list into a string and returns it.

In [141]:
def element_to_str(lists):
    lists = lists.split()
    print(''.join(lists))

lists = input('Provide space seperated value')
element_to_str(lists)

Provide space seperated value10 8 7 5 10 9
10875109

#### 30) Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.
##### Sample numbers list :

##### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [20]:
def even_no_upto_n(lists , n):
    for i in lists:
        if i != n and i % 2 == 0:
            print(i)
        elif i == n:
            print(n)
            break

In [21]:
numbers = [ 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237,
           412, 566, 826,248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 
           831, 445, 742, 717,958,743, 527 ]
even_no_upto_n(numbers,237)

386
462
418
344
236
566
978
328
162
758
918
237

#### 30) Write a Python program that prints out all colors from color_list_1 that are not present in color_list_2.
##### Test Data :
##### color_list_1 = set(["White", "Black", "Red"])
##### color_list_2 = set(["Red", "Green"])
##### Expected Output :
##### {'Black', 'White'}

In [29]:
def missing_color(color_list_1,color_list_2):
    missing_color = []
    for i in color_list_1:    
        if i not in color_list_2:
            missing_color.append(i)
    print(set(missing_color))

In [31]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
missing_color(color_list_1 ,color_list_2)

{'White', 'Black'}

#### 31) Write a Python program that will accept the base and height of a triangle and compute its area.

In [32]:
def triangle_area(h,b):
    return .5 * b*h

In [33]:
triangle_area(15,7)

52.5

#### 32) Write a Python program that computes the greatest common divisor (GCD) of two positive integers.

In [11]:
def common_divisor(m,n):
    l = [m,n]
    l1 = []
    smaller = min(l)
    for i in range(1,smaller+1):
        if n%i == 0 and m%i == 0:
            l1.append(i)
    print(max(l1))

In [15]:
common_divisor(25,50)

25

In [32]:
def gcd(m,n):
    while n:
        m,n = n , m % n
    return m

In [35]:
gcd(12,24)

12

#### 33) Write a Python program to find the least common multiple (LCM) of two positive integers.

In [36]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a
def LCM (a,b):
    return a*b // gcd(a,b)

In [37]:
LCM(12,3A0)

60

#### 34) Write a Python program to sum three given integers. However, if two values are equal, the sum will be zero.

In [38]:
def sum_3_no(a,b,c):
    l = [a,b,c]
    s = set(l)
    if len(l) != len(s):
        return 0
    else:
        return sum(l)

In [40]:
sum_3_no(5,5,6)

0

#### 35) Write a Python program to sum two given integers. However, if the sum is between 15 and 20 it will return 20.

In [45]:
def sum_2_no(a,b):
    if a+b < 20 and a+b > 15:
        return 20
    else:
        return a+b

In [46]:
sum_2_no(8,81)

89

#### 36) Write a Python program that returns true if the two given integer values are equal or their sum or difference is 5.

In [49]:
def equal_no(a,b):
    if a == b or a+b == 5 or a-b ==5 :
        return True
    else:
        return False

In [53]:
equal_no(3,4)

False

#### 37) Write a Python program to add two objects if both objects are integers.

In [56]:
def add_int_values(a,b):
    if type(a) == int and type(b) == int:
        return a+b
    else:
        print('Provide both integer value')

In [57]:
add_int_values(5,'8')

Provide both integer value

#### 38) Write a Python program that displays your name, age, and address on three different lines.

In [58]:
def Per_info(Name,Age,Address):
    print(f"My name is {Name}\nI'm {Age} yrs Old.\nI live at {Address}")

In [59]:
Per_info('Amrit Raj',25,'Mayur Vihar ph-1 , 110091')

My name is Amrit Raj
I'm 25 yrs Old.
I live at Mayur Vihar ph-1 , 110091

#### 39) Write a Python program to solve (x + y) * (x + y).
##### Test Data : x = 4, y = 3
##### Expected Output : (4 + 3) ^ 2) = 49

In [60]:
def add_sq(x,y):
    return (x+y)**2

In [61]:
add_sq(4,3)

49

#### 40) Write a Python program to compute the future value of a specified principal amount, rate of interest, and number of years.
##### Test Data : amt = 10000, int = 3.5, years = 7
##### Expected Output : 12722.79

In [66]:
def Amount(p,r,n):
    return p * (1+r/100)**n

In [67]:
Amount(10000,3.5,7)

12722.792627665729

#### 41) Write a Python program to calculate the distance between the points (x1, y1) and (x2, y2).

In [71]:
def distance(x1,y1,x2,y2):
    return ((x2-x1)**2 + (y2-y1)**2)**(1/2)

In [72]:
distance(5,5,1,1)

5.656854249492381

#### 42) Write a Python program to check whether a file exists.

In [73]:
def file_path(Path):
    import os
    if os.path.exists(Path):
        print('File exist')
    else:
        print('No file exist')

In [74]:
file_path('Black Friday.html')

File exist

#### 43) Write a Python program to determine if a Python shell is executing in 32bit or 64bit mode on OS.

In [77]:
import platform
version = platform.architecture()[0]
version

'64bit'

#### 44) Write a Python program to get OS name, platform and release information.

In [80]:
import platform

print(f"Os platform :{platform.system()}\nPlatform name :{platform.platform()}\nRelease info :{platform.release()}")

Os platform :Windows
Platform name :Windows-10-10.0.19045-SP0
Release info :10

#### 45) Write a Python program to locate Python site packages.

In [81]:
import site

site.getsitepackages()

['C:\\Users\\vampi\\anaconda3',
 'C:\\Users\\vampi\\anaconda3\\lib\\site-packages']

#### 46) Write a Python program to find no of Cpu used.

In [84]:
import os
os.cpu_count()

4

#### 47) Write a Python program to parse a string to float or integer.

In [89]:
def str_int_float(string):
    
    print(f"Integer value :{int(string.split('.')[0])}\nFloat value :{float(string)}")

In [91]:
str_int_float('12.568')

Integer value :12
Float value :12.568

#### 48) Write a Python program to get current username.

In [97]:
import os
os.environ.get('username')

'Amrit Raj'

#### 49) Python code to find height and width of the window console.

In [103]:
import shutil
Width = shutil.get_terminal_size().columns
Height = shutil.get_terminal_size().lines

print(f"Width :{Width}\nHeight :{Height}")

Width :120
Height :30

#### 50) Write a Python program to sum the first n positive integers

In [109]:
def sum_n_integers(n):
    sum = 0
    for i in range(n+1):
        sum += i
    return sum

In [111]:
sum_n_integers(15)

120

#### 51) Write a Python program to convert height (in feet and inches) to centimeters.

In [117]:
def feet_cm(height):
    feet = int(height.split('.')[0])
    inch = int(height.split('.')[1])
    return feet * 30.48 + inch * 2.54

In [118]:
feet_cm('5.8')

172.72

#### 52) Write a Python program to calculate the hypotenuse of a right angled triangle.

In [120]:
def hypotenuse(height , base):
    return ((height)**2 + (base)**2)**.5

In [121]:
hypotenuse(4,3)

5.0

#### 53) Write a Python program to convert the distance (in feet) to inches, yards, and miles.

In [127]:
def distance_conversion(d):
    feet = int(d.split('.')[0])
    inch = int(d.split('.')[1])
    inches = feet * 12 + inch
    
    print(f"Distance in inch {inches}\nDistance in yard :{inches*.0277778}\nDistance in miles {inches*1.5783/100000}")

In [128]:
distance_conversion('1001.9')

Distance in inch 12021
Distance in yard :333.9169338
Distance in miles 0.18972744300000002

#### 54) Write a Python program to convert all units of time into seconds.

In [131]:
def seconds_conversion(day ,hr , minutes , seconds):
    day_to_sec = day * 24 * 60*60
    hr_to_sec = hr * 60 *60
    min_to_sec = minutes*60

    print(f"Day to second :{day_to_sec}\nHour to second :{hr_to_sec}\nMinute to second :{min_to_sec}")
    print(f"Total second :{day_to_sec + hr_to_sec + min_to_sec + seconds}")

In [133]:
seconds_conversion(5,21,42,26)

Day to second :432000
Hour to second :75600
Minute to second :2520
Total second :510146

#### 55) Write a Python program to find Body mass Index.

In [140]:
def BMI_calculator(Height_in_mtr, weight_in_kg):
    print(f"Bosy mass Index :{weight_in_kg/(Height_in_mtr*Height_in_mtr):.3f}")

In [141]:
BMI_calculator(1.73 ,70)

Bosy mass Index :23.389

#### 56) Write a Python program to convert pressure in kilopascals to pounds per square inch, a millimeter of mercury (mmHg) and atmosphere pressure.

In [152]:
4521//10

452

In [142]:
str(4521)

'4521'

#### 57) Write a Python program to calculate sum of digits of a number.

In [148]:
def sum_digits(n):
    sum = 0
    n = str(n)
    for i in n:
        i = int(i)
        sum += i
    return sum

In [150]:
sum_digits(1834)

16

In [153]:
def Sum_digits(n):
    sum =0
    while n >0:
        reminder = n%10
        sum += reminder
        n = n//10
    return sum

In [154]:
Sum_digits(1834)

16

#### 58) Write a Python program to sort three integers without using conditional statements and loops.

In [6]:
def sort_3_no(x,y,z):
    mini = min(x,y,z)
    maxn = max(x,y,z)
    mid = (x+y+z) - mini - maxn
    return (mini , mid, maxn)

In [7]:
sort_3_no(48,5,20)

(5, 20, 48)

#### 59) Write a Python program to find mid point of a line.

In [8]:
def line_mid_point(x1,y1,x2,y2):
    return ((x2-x1)/2,(y2-y1)/2)

In [9]:
line_mid_point(7,12,19,21)

(6.0, 4.5)

#### 60) Write a Python program to hash a word.

In [10]:
import hashlib
def hashed_word(word):
    words = hashlib.sha256(word.encode()).hexdigest()
    return words

In [11]:
hashed_word('Raj')

'4f69905a2fdf3232f20e16f046e3c64563dc6dee02a6659c9d67ba0d2845c6a8'

#### 61) Write a Python program to calculate the sum of all items of a container (tuple, list, set, dictionary).

In [22]:
def sum_container(tuples , lists , sets , dictionary):
    tuple_sum = sum(tuples)
    list_sum = sum(lists)
    set_sum = sum(sets)
    dict_sum = sum(dictionary.values())
    print(f"Tuple sum :{tuple_sum}\nLists sum :{list_sum}\nSet sum :{set_sum}\nDictonary values sum :{dict_sum}")

In [23]:
sum_container((5,2,80),[8,10,9,64],{4,5,7,2},{'a':10,8:16,'b':15})

Tuple sum :87
Lists sum :91
Set sum :18
Dictonary values sum :41

#### 62) Write a Python program to get the size of an object in bytes.

In [14]:
import sys
def obj_size_bytes(obj):
    return sys.getsizeof(obj)

In [15]:
obj_size_bytes(5421)

28

#### 63) Write a Python program to get the current value of the recursion limit.

In [16]:
import sys
print(sys.getrecursionlimit())

3000

#### 64) Write a Python program to concatenate N strings.

In [41]:
def concatenate_str(*args):
    #l= list(args)
    result = ' '.join(args)
    return result

In [43]:
concatenate_str('I','Love','India')

'I Love India'

In [4]:
N = int(input('Enter nos of strings :'))
Strings = []
for i in range(N):
    string = input(f'Enter the string {i+1} :')
    Strings.append(string)
def concatenate_n_strs(Strings):
    result = ''
    for i in Strings:
        result += i
    return result
concatenated_string = concatenate_n_strs(Strings)
print(f"Concatenated String :{concatenated_string}")

Enter nos of strings :3
Enter the string 1 :Amrit
Enter the string 2 :Raj
Enter the string 3 :Dubey
Concatenated String :Amrit Raj Dubey

#### 65) Write a Python program to test whether all numbers in a list are greater than a certain number.

In [9]:
def compare_no(lists , n):
    if (sum(lists)/len(lists) ) < n:
        print(f'All numbers are not Greater than {n}')
    else:
        print(f"All numbers are greater than {n}")

In [11]:
compare_no([52,12,85,90,88],100)

All numbers are not Greater than 100

#### 66) Write a Python program to count the number of occurrences of a specific character in a string.

In [12]:
# Strings = Sentence
# special_char = list of characters in string format, Lets check for all special characters
def count_special_char(strings , special_char):
    count = 0
    for i in strings:
        if i in special_char:
            count += 1
    return count

In [16]:
count_special_char('Th#s produ&c% bel@*gs to @!',['!','@','#','$','%','^','&','*','(',')'])

7

#### 67) Write a Python program to get the ASCII value of a character.

In [7]:
def ASCII_val(char):
    Asc_char =  ord(char)
    print(f"ASCII value of {char} is :{Asc_char}")
    
char = input('Provide the character :')
ASCII_val(char)

Provide the character :A
ASCII value of A is :65

#### 68) Write a Python program to get the size of a file.

In [8]:
import os
def get_file_size(filepath):
    try:
        size = os.path.getsize(filepath)
        return size
    except Filenotfound:
        return -1

In [10]:
get_file_size('books.csv')

207

#### 69) Write a Python program to perform an action if a condition is true.
Given a variable name, if the value is 1, display the string "First day of a Month!" and do nothing if the value is not equal.

In [11]:
def check_val(value):
    if value == 1:
        print('First day of a Month!')
    else:
        pass

In [13]:
check_val(1)

First day of a Month!

#### 70) Write a Python program to swap two variables.

In [14]:
def swap_var(a,b):
    a,b = b,a
    return a,b

In [15]:
swap_var(10,8)

(8, 10)

#### 71) Write a Python program to get the Identity, Type, and Value of an object.

In [20]:
def identity(x):
    identity = id(x)
    Type = type(x)
    value = x
    print(f"Identity :{identity}\nData Type of {x} :{Type}\nValue :{value}")

In [21]:
identity(85)

Identity :2240923063280
Data Type of 85 :<class 'int'>
Value :85

#### 72) Write a Python program to convert the int to byte.

In [30]:
def int_byte(integer):
    return integer.to_bytes(length =2,byteorder = 'big')

In [31]:
int_byte(56)

b'\x008'

#### 72) Write a Python program to convert the bytes in a given string to a list of integers.

In [26]:
def byte_int(byte):
    return int.from_bytes(byte ,byteorder= 'big' )

In [32]:
byte_int(b'\x008')

56

#### 73) Write a Python program to check whether a string is numeric.

In [46]:
def check_str(string):
    try:
        s = int(string)
        if type(s) == int:
            print('String is numeric')
    except:
        print('String is not numeric')

In [47]:
check_str('10s')

String is not numeric

#### 74) Split the sentence based on given character

In [2]:
def sen_split(sentence, character):
    return sentence.split(characteracter)

In [3]:
sen_split('This is beautifull place we must visit there','is')

['Th', ' ', ' beautifull place we must v', 'it there']

#### 75) Write a Python program to get system time.

In [1]:
import datetime
print(datetime.datetime.now())

2023-09-05 00:07:37.251211

#### 76) Write a Python program to get numbers divisible by fifteen from a list using an anonymous function.

In [2]:
def div_by_15(lists):
    div_by_15 = list(filter(lambda x : x% 15 == 0 , lists))
    return div_by_15by_15

In [3]:
div_by_15([20,80,76,100,150,60,15,45])

[150, 60, 15, 45]

#### 77) Write a Python program that inputs a number and generates an error message if it is not a number.

In [12]:
def identify_num(inputs):
    if type(inputs) == int:
        print('Its a number')
    else:
        print('Error msg : Its not a number')

In [13]:
identify_num(4521)

Its a number

#### 78) Write a Python program to filter positive numbers from a list.

In [14]:
def filter_pos(lists):
    l=[]
    for i in lists:
        if i > 0:
            l.append(i)
    return l

In [15]:
filter_pos([10,-5,8,-9,56,-10,-85])

[10, 8, 56]

In [16]:
def filters_pos(lists):
    pos_list = list(filter(lambda x : x> 0,lists))
    return pos_list

In [17]:
filters_pos([10,-8,5,-96,56])

[10, 5, 56]

#### 79) Write a Python program to compute the product of a list of integers (without using a for loop).

In [18]:
def list_product(lists):
    from functools import reduce
    multiple = reduce(lambda x,y : x*y , lists)
    return multiple

In [19]:
list_product([2,8,4,10,5])

3200

#### 80) Write a Python program to round a floating-point number to a specified number of decimal places.

In [22]:
def round_float(floating,n):
    return round(floating,n)

In [23]:
round_float(51.2458,2)

51.25

#### 81) Write a Python program to format a specified string and limit the length of a string.

In [1]:
def format_string_length(strings , length):
    if len(strings) > length:
        return strings[:length]
    else:
        return strings

In [2]:
format_string_length('This is a good damn thing I will sure own it one day',15)

'This is a good '

#### 82) Write a Python program to determine the largest and smallest integers, longs, and floats.

In [56]:
def longest_smallest_var(lists):
    l1 = []
    l2 = []
    l3 = []
    for i in lists:
        if type(i) == int:
            l1.append(i)
        elif type(i) == str:
            l2.append(i)
        elif type(i) == float:
            l3.append(i)
    print(f'Smallest integer value is: {min(l2, key=len)} and Largest integer value is: {max(l2, key=len)}')
    print(f'Smallest String value is :{min(l1,key= lambda x : len(str(x)))} and Largest String value is :{max(l1,key=lambda x : len(str(x)))}')
    print(f'Smallest String value is :{min(l3,key= lambda x : len(str(x)))} and Largest String value is :{max(l3,key=lambda x : len(str(x)))}')

In [57]:
longest_smallest_var([5,10,'XYZ',20.54,'OJHB','Raj','O',7854,10.2,1.1,'Pineapple'])

Smallest integer value is: O and Largest integer value is: Pineapple
Smallest String value is :5 and Largest String value is :7854
Smallest String value is :1.1 and Largest String value is :20.54

#### 83) Write a Python program to check whether multiple variables have the same value.

In [59]:
def check_variable(l):
    if sum(l)/len(l) == max(l):
        print('All values are same')
    else:
        print('All values are not same')

In [62]:
check_variable([10,10,10,100])

All values are not same

#### 84) Write a Python program to sum all counts in a collection.

In [66]:
def count_collection(lists):
    count =0
    for i in lists:
        count += i
    return count

In [67]:
count_collection([10,5,1,5,8])

29

#### 85) Write a Python program to check whether lowercase letters exist in a string

In [10]:
def check_lowercase(strings):
    string_upper = strings.upper()
    if string_upper == strings:
        print('No lowercase in string')
    else:
        print('Lowercase present in string')

In [14]:
check_lowercase('I LOVE MY COUNTRY')

No lowercase in string

#### 86) Write a Python program to add leading zeroes to a string.

In [24]:
def add_zero_strings(strings,n):
    return strings + n*str(0)

In [25]:
add_zero_strings('This',5)

'This00000'

#### 87) Write a Python program to split a variable length string into variables.

In [29]:
def split_string(strings):
    lists = strings.split()
    print(f'Variables of the strings are :{lists}')

In [30]:
split_string('This is my car')

Variables of the strings are :['This', 'is', 'my', 'car']

#### 88) Write a Python program to print a variable without spaces between values.
    Sample value : x =30
    Expected output : Value of x is "30"

In [32]:
def print_no_space(x):
    print(f'Expected value of x is "{x}"')

In [33]:
print_no_space(10)

Expected value of x is "10"

#### 89) Write a python program to convert decimal to hexadecimal.
    Sample decimal number: 30, 4
    Expected output: 1e, 04

In [ ]:
def decimal_to_hexadecimal(value):

In [34]:
round(3.04)

3

In [36]:
3.04//3

1.0

#### 90) Write a python program to convert decimal to hexadecimal.
    Sample decimal number: 30, 4
    Expected output: 1e, 04

In [41]:
def dec_to_hex(decimal_numbers):
    hexadecimal_numbers = [hex(num)[2:].zfill(2) for num in decimal_numbers]
    for decimal, hexadecimal in zip(decimal_numbers, hexadecimal_numbers):
        print(f"Decimal: {decimal} => Hexadecimal: {hexadecimal}")

In [42]:
dec_to_hex([30,4])

Decimal: 30 => Hexadecimal: 1e
Decimal: 4 => Hexadecimal: 04

#### 91) Write a Python program to check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones of same length in a given string. Return True/False.
    Original sequence: 01010101
    Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones in the said string:
    True
    Original sequence: 00
    Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones in the said string:
    False
    Original sequence: 000111000111
    Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones in the said string:
    True
    Original sequence: 00011100011
    Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones in the said string:
    False

In [66]:
def check_zeroes_followed_by_ones(s):
    i,n = 0,len(s)        
    while i < n:
        count_zeroes = 0
        while i < n and s[i] == '0':
            count_zeroes += 1
            i += 1
        count_ones = 0
        while i < n and s[i] == '1':
            count_ones += 1
            i += 1
        if count_zeroes != count_ones:
            return False
        if count_zeroes > 0 and i < n and s[i] != '0':
            return False
    
    return True

In [69]:
sequences = ["0101010101", "00", "000111000111", "00011100011"]
for sequence in sequences:
    result = check_zeroes_followed_by_ones(sequence)
    print(f"Original sequence: {sequence}")
    print(f"Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones: {result}\n")

Original sequence: 0101010101
Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones: True

Original sequence: 00
Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones: False

Original sequence: 000111000111
Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones: True

Original sequence: 00011100011
Check if every consecutive sequence of zeroes is followed by a consecutive sequence of ones: False

#### 92) Write a Python program to test if a variable is a list, tuple, or set.

In [78]:
def check_variable(var):
    if isinstance(var,list):
        print(f"It's a list")
    elif isinstance(var,tuple):
        print(f"It's a tuple")
    elif isinstance(var,set):
        print(f"It's a set")
    else:
        print(f"It's neither a list , tuple or set")

In [79]:
check_variable([1,5,8,7])

It's a list

#### 93) Write a Python function to check whether a number is divisible by another number. Accept two integer values from the user.

In [84]:
def div_by_num(x,y):
    is_divisible = lambda x ,y : x%y == 0
    if is_divisible (x,y):
        print(f'Number: {x} is divisible by: {y}')
    else:
        print(f'Number: {x} is not divisible by: {y}')

In [85]:
div_by_num(251024,6)

Number: 251024 is not divisible by: 6

#### 94)  Write a Python function to find the maximum and minimum numbers from a sequence of numbers.
Note: Do not use built-in functions.

In [96]:
def min_max_num(l):
    max_no = l[0]
    min_no = l[0]

    if not l:
        return none , none
    for i in l:
        if i > max_no:
            max_no = i
        if i < min_no:
            min_no = i
    print(max_no , min_no)

In [98]:
min_max_num([52,8,90,36,1,.5])

90 0.5

#### 95) Write a Python function that takes a positive integer and returns the sum of the cube of all positive integers smaller than the specified number.

In [99]:
def sum_positive_val(l):
    l1=[]
    for i in l:
        if i >0:
            l1.append(i**3)
    print(sum(l1))

In [100]:
sum_positive_val([2,3,-2,1])

36

#### 96) Write a Python function to check whether a distinct pair of numbers whose product is odd is present in a sequence of integer values.

In [125]:
def check_odd_multiple(l):
    for i in range(len(l)):
        for j in range(i+1, len(l)):
            if (l[i] * l[j]) % 2 == 1:
                print('Odd pair is present in the list')
                return
    print('Odd pair is not present in the list')

In [126]:
check_odd_multiple([2,4,6])

Odd pair is not present in the list

#### 97) Python function to find Multiplication of a given number:

In [127]:
def multiplication(n):
    for i in range(11):
        print(f"{i} x {n} = {i*n}")

In [128]:
multiplication(6)

0 x 6 = 0
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

#### 98) FInd factorical of a given no:

In [143]:
def factorial(n):
    mul = 1
    if n== 0:
        print(f'Factorial of {n} is 1')
    elif n <0:
        print('Factorial of negative no is not defined')
    else:
        for i in range(1,n+1):
            mul = i* mul
        return mul

In [145]:
factorial(5)

120

#### 99) Python code to print df with 3 columns and 100 rows with random values

In [14]:
import pandas as pd
import random 

Data = {'Weight':[random.uniform(10,110) for _ in range(10)],
             'Height':[random.uniform(80,190) for _ in range(10)],
             'Age' :[random.uniform(7,90) for _ in range(10)] }

df = pd.DataFrame(Data)
df

       Weight      Height        Age
0   60.205469  180.050682  74.935198
1  100.927797   99.223829  43.508375
2   79.723279  134.558463  21.219084
3   23.313922  145.981867  79.727850
4   70.296599  115.945610  58.430516
5   96.618329  114.184318  77.701256
6   40.362531  165.168943  66.297763
7   13.097820  186.511746  64.037084
8   12.355760   96.173880  13.089846
9   11.569313  174.119897  76.181493

#### 100) Python code to form dataframe using Numpy.

In [19]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(10,3),columns = ['X','Y','Z'])
df

          X         Y         Z
0  0.648468  0.349066  0.827076
1  0.773368  0.765912  0.341682
2  0.141890  0.580829  0.140078
3  0.951796  0.587518  0.588131
4  0.213641  0.000161  0.470747
5  0.012738  0.993584  0.199247
6  0.269567  0.974051  0.668063
7  0.313975  0.486172  0.166767
8  0.357293  0.207533  0.261315
9  0.487507  0.363418  0.462461